$succes: #50cd89;
$succes-dark: #47be7d;
$info: #7239ea;
$info-dark: #5014d0;
$danger: #f1416c;
$danger-dark: #d9214e;
$warning: #ffc700;
$warning-dark: #f1bc00;
$secondary: #e4e6ef;
$secondary-dark: #b5b5c3;
$primary: #009ef7;
$primary-dark: #0095e8;
$green: #b4de09;
$green-dark: #a1c903;
// type colors
