@font-face {
  font-family: Instagram;
  src: url("./fonts/Grandista.otf");
}

@font-face {
  font-family: Instagram;
  font-weight: bold;
  src: url("./fonts/Grandista.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  height: 100%;
  font-family: Verdana, sans-serif;
}

input,
button,
select,
textarea {
  font-family: inherit;
  outline: none;
  border: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  user-select: none;
}

a {
  text-decoration: none;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:active {
  color: inherit;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

::-webkit-scrollbar {
display: none;
}


/* types */



/* size */
.size-extra-small{
  width: 14px;
  height: 14px;
}

.size-small{
  width: 20px;
  height: 20px;
}

.size-default{
  width: 24px;
  height: 24px;
}

.size-large{
  width: 32px;
  height: 32px;
}

.size-extra-large{
  width: 60px;
  height: 60px;
}

/* font size  */

.font-size-extra-small{
  font-size: 0.6em;
}

.font-size-small{
  font-size: 0.8em;
}

.font-size-default{
  font-size: 1em;
}

.font-size-large{
  font-size: 1.2em;
}

.font-size-extra-large{
  font-size: 1.5em;
}