* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  height: 100%;
  font-family: Verdana, sans-serif;
}

input,
button,
select,
textarea {
  font-family: inherit;
  outline: none;
  border: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  user-select: none;
}

a {
  text-decoration: none;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:active {
  color: inherit;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

/* .phone-content-box::-webkit-scrollbar{
  width: 1px;
} */

*::-webkit-scrollbar{
  width: 0px;
}